$color-body-background: #ebf4fa;
$color-default-text: #202020;
$color-heading-text: #003045;
$color-primary-text: #005275;

$color-primary: #003045;
$color-primary-light: #264f61;
$color-primary-x-light: #406474;
$color-primary-contrast: #ffffff;

$color-secondary: #ffffff;
$color-secondary-light: #c7e0f2;
$color-secondary-x-light: #ebf4fa;
$color-secondary-contrast: #005275;

$color-border: #89bad6;
$color-form-element: #003045;
$color-focus: rgba(0, 92, 173, 0.4);

$color-default-background: #f1fae3; 
$color-secondary-background: #f5f0f0;

$color-success: #177912;
$color-success-light: #cbebb0;
$color-success-x-light: #f1fae3;

$color-warning: #ffbe00;
$color-warning-light: #fcefb6;
$color-warning-x-light: #fff8db;

$color-error: #db0000;
$color-error-light: #ffc5c2;
$color-error-x-light: #fceceb;

$color-input-border: #998B8B; // varmgrå 400
$color-tab-border: #F7F5F5;