@import "../style/global.scss";

.checkBoxInput {
    display: flex;
    margin-right: 1em;
    border: 1px solid transparent;

    .requiredSymbol {
        color: $color-error;
        font-size: 0.8em;
        vertical-align: top;
    }

    &:not(.contentOnly):not(.disabled) {
        cursor: pointer;
        input {
            cursor: pointer;
        }
    }

    &.hasErrors {
        span {
            color: $color-error;
        }
    }

    &:focus-within {
        outline-width: 2px;
        outline-color: $color-focus-outline;
        outline-style: auto;
        outline-offset: 1px;
    }

    input[type="checkbox"] {
        opacity: 0;
        position: absolute;
    }
}
