@import "../style/global.scss";

.container {
    margin: auto;
    padding: 8px;
    @media (min-width: $screen-sm) {
        padding: 20px;
        max-width: $content-width;
        &[style*="--max-width"] {
            max-width: var(--max-width);
        }
    }
}
