@import "../style/global.scss";

.dragAndDropFileInput {
    .requiredSymbol {
        color: $color-error;
        font-size: 0.8em;
        vertical-align: top;
    }

    .dragAndDropContainer {
        @include transition(all 0.1s ease-in-out);
        border: 2px dashed #ccc;
        border-radius: 20px;
        width: 100%;
        padding: 20px;
        text-align: center;

        input {
            display: none;
        }

        button {
            margin: 14px 0 0;
        }

        &.highlighted {
            background: $color-default;
            border-color: $color-dark-blue;
        }
    }
}
