@import "../style/global.scss";

.paper {
    position: relative;
    width: 100%;
    background: white;
    &:not(.noMargin) {
        margin: 0 0 20px;
    }
    &:not(.noPadding) {
        padding: 48px 20px;
        @media only screen and (min-width: $screen-sm) {
            padding: 48px;
        }
    }
}
