@import "../style/abstracts/_all.scss";

$font-size-body: 16px;
$font-size-h1: 34px;
$font-size-h1-small: 18px;
$font-size-h2: 24px;
$font-size-h2-small: 16px;
$font-size-h3: 19px;
$font-size-h4: 17px;
$font-size-table-header: 15px;
$font-size-table-data: 16px;
$font-size-checkbox: 20px;

$height-checkbox: 22px;
$width-checkbox: 22px;

$heading-logo-width: 100px;
$heading-logo-margin-left: 15px;

$margin-top-h1: 5px;
$margin-top-h2: 22px;
$margin-bottom-h2: 2px;
$margin-bottom-h2-small: 6px;
$margin-top-h3: 15px;
$margin-bottom-h3: 4px;
$margin-top-h4: 15px;
$margin-bottom-h4: 6px;
$margin-top-paragraph: 3px;
$margin-bottom-paragraph: 12px;
$margin-top-list: 3px;
$margin-bottom-list: 12px;

$margin-vertical-blockquote: 5px;
$margin-horizontal-blockquote: 10px;
$padding-horizontal-blockquote: 10px;
$border-left-width-blockquote: 10px;
$min-height-blockquote: 36px;

$margin-vertical-description-list: 3px;

$margin-top-checkbox-container: 10px;
$margin-bottom-checkbox-container: 10px;

$padding-vertical-table-header: 2px;
$padding-horizontal-table-header: 4px;
$padding-vertical-table-data: 4px;
$padding-horizontal-table-data: 4px;

$padding-vertical-no-border-table-header: 0px;
$padding-vertical-no-border-table-data: 2px;

$scaling-for-signed-documents: 1.10802;

html,
body {
    margin: 0;
    padding: 0;
    background-color: #eee;
    font-family: Carlito, sans-serif;
    color: #000;
    font-size: $font-size-body;
    line-height: 1.25em;
    font-weight: normal;
    font-style: normal;
}
.page {
    margin: 1cm auto;
    background: #fff;
    box-shadow: 0 4px 5px rgba(75, 75, 75, 0.2);
    width: 21cm;
    min-height: 29.7cm;
    padding-left: 1.2cm;
    padding-top: 0;
    padding-right: 1.2cm;
    padding-bottom: 0.75cm;
    font-family: Carlito, sans-serif;
    color: #000;
    font-size: $font-size-body;
}
@page {
    size: A4 portrait;
    margin-top: 0.75cm;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
}

@media print {
    html,
    body {
        background-color: #fff;
    }
    .page {
        width: initial !important;
        min-height: initial !important;
        margin: 0 !important;
        border: initial !important;
        border-radius: initial !important;
        background: initial !important;
        box-shadow: initial !important;
        page-break-after: always;
    }
}

* {
    @include box-sizing(border-box);
}

.page {
    div.page-break {
        page-break-after: always;
    }

    section {
        page-break-inside: auto;
        &.no-page-break {
            page-break-inside: avoid;
        }
    }

    .heading-logo {
        width: $heading-logo-width;
        float: right;
        margin-left: $heading-logo-margin-left;
    }

    h1,
    .h1 {
        page-break-after: avoid;
        font-size: $font-size-h1;
        font-weight: normal;
        line-height: 0.9em;
        margin-top: $margin-top-h1;
        margin-bottom: 0.4em;
        small {
            display: block;
            font-size: $font-size-h1-small;
            line-height: 1em;
        }
    }
    h2,
    .h2 {
        page-break-after: avoid;
        font-size: $font-size-h2;
        font-weight: normal;
        line-height: 1em;
        margin-top: $margin-top-h2;
        margin-bottom: $margin-bottom-h2;
        small {
            display: block;
            font-size: $font-size-h2-small;
            line-height: 1em;
            margin-bottom: $margin-bottom-h2-small;
        }
        & + p {
            margin-top: 0;
        }
    }
    h3,
    .h3 {
        page-break-after: avoid;
        font-size: $font-size-h3;
        font-weight: normal;
        line-height: 1.1em;
        text-decoration: underline;
        margin-top: $margin-top-h3;
        margin-bottom: $margin-bottom-h3;
        & + p {
            margin-top: 0;
        }
    }

    h4,
    .h4 {
        page-break-after: avoid;
        font-size: $font-size-h4;
        font-weight: bold;
        line-height: 1.1em;
        margin-top: $margin-top-h4;
        margin-bottom: $margin-bottom-h4;
        & + p {
            margin-top: 0;
        }
    }

    p {
        margin-top: $margin-top-paragraph;
        margin-bottom: $margin-bottom-paragraph;
    }

    dl {
        margin-top: $margin-top-list;
        margin-bottom: $margin-bottom-list;
        dt,
        dd {
            margin: $margin-vertical-description-list 0;
            line-height: 1em;
        }
        dt {
            font-weight: bold;
        }
        dd {
            ul {
                padding: 0;
                margin: 0;
                list-style: none;
            }
        }
        &[style*="--title-width"] {
            display: flex;
            flex-flow: row wrap;
            align-items: end;
            dt {
                width: var(--title-width);
            }
            dd {
                flex-basis: calc(100% - var(--title-width));
                flex-grow: 1;
            }
        }
        &:not([style*="--title-width"]) {
            dt {
                display: inline;
                &::before {
                    display: block;
                    content: "";
                }
                &::after {
                    display: inline;
                    content: " ";
                }
            }
            dd {
                display: inline;
            }
        }
    }
    table {
        border-collapse: collapse;
        width: 100%;
        thead {
            tr {
                background-color: #ededed;
                border: 1px solid #000;
                th {
                    text-align: left;
                    font-size: $font-size-table-header;
                    padding: $padding-vertical-table-header $padding-horizontal-table-header;
                    &[style*="--width"] {
                        width: var(--width);
                    }
                }
            }
        }
        tbody {
            tr {
                border: 1px solid #000;
                td {
                    padding: $padding-vertical-table-data $padding-horizontal-table-data;
                    font-size: $font-size-table-data;
                    &[style*="--width"] {
                        width: var(--width);
                    }
                }
                &.sub-heading {
                    td {
                        font-weight: bold;
                    }
                }
            }
        }
        &.no-border {
            thead {
                tr {
                    background-color: transparent;
                    border: none;
                    th {
                        padding-top: $padding-vertical-no-border-table-header;
                        padding-bottom: $padding-vertical-no-border-table-header;
                    }
                }
            }
            tbody {
                tr {
                    border: transparent;
                    td {
                        padding-top: $padding-vertical-no-border-table-data;
                        padding-bottom: $padding-vertical-no-border-table-data;
                    }
                }
            }
        }
    }

    table + table thead tr {
        border-top: none;
    }

    table tbody tr.no-border-top {
        border-top: none;
    }

    table tbody tr.no-border-bottom {
        border-bottom: none;
    }

    table thead tr th,
    table tbody tr td {
        &.indent {
            width: 18px;
        }
    }

    blockquote {
        background: $color-default;
        border-left: $border-left-width-blockquote solid $color-light-blue;
        margin: $margin-vertical-blockquote $margin-horizontal-blockquote;
        padding: 0.5em $padding-horizontal-blockquote;
        min-height: $min-height-blockquote;
    }

    .whitespace-nowrap {
        white-space: nowrap;
    }

    .whitespace-pre-wrap {
        white-space: pre-wrap;
    }

    .text-right {
        text-align: right;
    }

    .text-left {
        text-align: left;
    }

    .text-center {
        text-align: center;
    }
    .text-red {
        color: red;
    }

    .text-italic {
        font-style: italic;
    }

    .text-bold {
        font-weight: bold;
    }

    .block {
        display: block;
    }

    .inline {
        display: inline;
    }

    .inline-block {
        display: inline-block;
    }

    .checkbox-container {
        display: flex;
        align-items: center;
        margin-top: $margin-top-checkbox-container;
        &:not(:last-of-type) {
            margin-bottom: $margin-bottom-checkbox-container;
        }
    }

    .checkbox {
        border: 1px solid black;
        background-color: #fff;
        height: $height-checkbox;
        width: $width-checkbox;
        display: inline-block;
        vertical-align: bottom;
        margin-right: 8px;
        text-align: center;
        font-size: $font-size-checkbox;
        line-height: 1.2em;
        flex: none;
    }
}

// For signed documents
.page.signed-document {
    padding-top: 0.75cm;
    padding-bottom: 0.75cm;
    padding-left: 0.2cm;
    padding-right: 0.2cm;
    font-size: calc($font-size-body * $scaling-for-signed-documents);
    div.content-container {
        .heading-logo {
            width: calc($heading-logo-width * $scaling-for-signed-documents);
            float: right;
            margin-left: calc($heading-logo-margin-left * $scaling-for-signed-documents);
        }
        h1 {
            font-size: calc($font-size-h1 * $scaling-for-signed-documents);
            margin-top: calc($margin-top-h1 * $scaling-for-signed-documents);
            small {
                font-size: calc($font-size-h1-small * $scaling-for-signed-documents);
            }
        }
        h2 {
            font-size: calc($font-size-h2 * $scaling-for-signed-documents);
            margin-top: calc($margin-top-h2 * $scaling-for-signed-documents);
            margin-bottom: calc($margin-bottom-h2 * $scaling-for-signed-documents);
            small {
                font-size: calc($font-size-h2-small * $scaling-for-signed-documents);
                margin-bottom: calc($margin-bottom-h2-small * $scaling-for-signed-documents);
            }
        }
        h3 {
            font-size: calc($font-size-h3 * $scaling-for-signed-documents);
            margin-top: calc($margin-top-h3 * $scaling-for-signed-documents);
            margin-bottom: calc($margin-bottom-h3 * $scaling-for-signed-documents);
        }
        p {
            margin-top: calc($margin-top-paragraph * $scaling-for-signed-documents);
            margin-bottom: calc($margin-bottom-paragraph * $scaling-for-signed-documents);
        }
        dl {
            margin-top: calc($margin-top-list * $scaling-for-signed-documents);
            margin-bottom: calc($margin-bottom-list * $scaling-for-signed-documents);
            dt,
            dd {
                margin: calc($margin-vertical-description-list * $scaling-for-signed-documents) 0;
            }
            &[style*="--title-width"] {
                dt {
                    width: calc(var(--title-width) * $scaling-for-signed-documents);
                }
                dd {
                    flex-basis: calc(100% - (var(--title-width) * $scaling-for-signed-documents));
                }
            }
        }
        table {
            thead tr {
                border-width: calc(1px * $scaling-for-signed-documents);
                th {
                    font-size: calc($font-size-table-header * $scaling-for-signed-documents);
                    padding: calc($padding-vertical-table-header * $scaling-for-signed-documents)
                        calc($padding-horizontal-table-header * $scaling-for-signed-documents);
                    &[style*="--width"] {
                        width: calc(var(--width) * $scaling-for-signed-documents);
                    }
                }
            }
            tbody tr {
                border-width: calc(1px * $scaling-for-signed-documents);
                td {
                    font-size: calc($font-size-table-data * $scaling-for-signed-documents);
                    padding: calc($padding-vertical-table-data * $scaling-for-signed-documents)
                        calc($padding-horizontal-table-data * $scaling-for-signed-documents);
                    &[style*="--width"] {
                        width: calc(var(--width) * $scaling-for-signed-documents);
                    }
                }
            }
            &.no-border {
                thead tr th {
                    padding-top: calc($padding-vertical-no-border-table-header * $scaling-for-signed-documents);
                    padding-bottom: calc($padding-vertical-no-border-table-header * $scaling-for-signed-documents);
                }
                tbody tr td {
                    padding-top: calc($padding-vertical-no-border-table-data * $scaling-for-signed-documents);
                    padding-bottom: calc($padding-vertical-no-border-table-data * $scaling-for-signed-documents);
                }
            }
        }

        table thead tr th,
        table tbody tr td {
            .indent {
                width: calc(18px * $scaling-for-signed-documents);
            }
        }

        blockquote {
            background: $color-default;
            border-left: calc($border-left-width-blockquote * $scaling-for-signed-documents) solid $color-light-blue;
            margin: calc($margin-vertical-blockquote * $scaling-for-signed-documents)
                calc($margin-horizontal-blockquote * $scaling-for-signed-documents);
            padding: 0.5em calc($padding-horizontal-blockquote * $scaling-for-signed-documents);
            min-height: calc($min-height-blockquote * $scaling-for-signed-documents);
        }

        .checkbox-container {
            margin-top: calc($margin-top-checkbox-container * $scaling-for-signed-documents);
            &:not(:last-of-type) {
                margin-bottom: calc($margin-bottom-checkbox-container * $scaling-for-signed-documents);
            }
            .checkbox {
                height: calc($height-checkbox * $scaling-for-signed-documents);
                width: calc($width-checkbox * $scaling-for-signed-documents);
                font-size: calc($font-size-checkbox * $scaling-for-signed-documents);
                border-width: calc(1px * $scaling-for-signed-documents);
                margin-right: calc(8px * $scaling-for-signed-documents);
            }
        }
    }
}
@media print {
    .page.signed-document {
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }
}
