@import "../style/global.scss";

.table {
    font-family: $default-font;
    border-collapse: collapse;
    width: 100%;
    caption {
        font-family: $default-font;
        font-weight: normal;
        line-height: 1;
        font-size: 19px;
        color: #072938;
    }
    &.captionSide-top {
        caption {
            caption-side: top;
            margin: 0 0 6px 0;
        }
    }
    &.captionSide-bottom {
        caption {
            caption-side: bottom;
            margin: 6px 0 0 0;
        }
    }
    &.captionAlign-left {
        caption {
            text-align: left;
        }
    }
    &.captionAlign-center {
        caption {
            text-align: center;
        }
    }
    &.captionAlign-right {
        caption {
            text-align: right;
        }
    }
    thead {
        tr {
            background-color: #ededed;
            border: 1px solid #000;
            th {
                text-align: left;
                font-size: 17px;
                padding: 10px;
            }
        }
    }
    tbody {
        tr {
            border: 1px solid #000;
            td {
                padding: 10px;
                font-size: 17px;
            }
        }
    }
}
