@import "../style/global.scss";

.textarea {
    > div {
        display: block;
    }
    .requiredSymbol {
        width: 1em;
        height: 1em;
        font-size: 0.4em;
        vertical-align: top;
        margin-top: 2px;
    }
    textarea {
        @include appearance(none);
        @include transition(border-color 0.15s linear, background 0.15s linear);
        @include border-radius(0);
        @include box-shadow(none);
        height: auto;
        width: 100%;
        display: block;
        padding: 10px;
        margin-bottom: 0;
        font-weight: 300;
        background-color: #fff;
        box-shadow: none;
        color: rgba(0, 0, 0, 0.75);
        font-family: inherit;
        font-size: 16px;
        box-sizing: border-box;
        border: 1px solid #afaba8;
        @media only screen and (min-width: $screen-sm) {
            font-size: 19px;
        }

        &:hover {
            border-color: var(--color-primary, $color-primary);
        }

        &:focus {
            border-color: var(--color-primary, $color-primary);
            outline-color: var(--color-focus, $color-focus);
        }

        &[disabled],
        &[readonly] {
            background-color: #ddd;
            cursor: default;
        }

        &.hasErrors {
            border-color: var(--color-error, $color-error);
            &:focus {
                border-color: var(--color-error, $color-error);
                outline-color: #b8565d;
            }
            &[disabled],
            &[readonly] {
                background-color: #ddd;
                cursor: default;
                border-color: #afaba8;
            }
        }
    }
}
