// Variables
@use "../style/abstracts/variables/colors";

.checkBoxInput {
    display: flex;
    
    margin-right: 1em;
    border: 1px solid transparent;
    

    .requiredSymbol {
        width: 1em;
        height: 1em;
        font-size: 0.4em;
        vertical-align: top;
        margin-top: 2px;
    }

    &:not(.disabled) {
        cursor: pointer;
        input {
            cursor: pointer;
        }
    }

    .labelText {
        font-size: 16px;
        line-height: 24px;
        color: var(--color-form-element, colors.$color-form-element);
    }

    &.disabled {
        .labelText {
            opacity: 0.4;
        }
    }

    &.hasErrors {
        span {
            color: var(--color-error, colors.$color-error);
        }
    }
    &:focus-visible,
    &:focus-within {
        outline-style: solid;
        outline-width: 2px;
        outline-color: var(--color-focus, colors.$color-focus);
        
        outline-offset: 0px;
    }

    input[type="checkbox"] {
        opacity: 0;
        margin-right: 0.4em;
        position: absolute;
    }
}
