// Variables
@use "../style/abstracts/variables/typography";

fieldset.checkBoxList {
    margin: 0;
    padding: 0;
    border: none;
    legend {
        color: var(--color-default-text, colors.$color-default-text);
        display: block;
        font-size: 1rem;
        font-weight: bold;
        line-height: 1.2;
        margin-bottom: 2px;
        font-family: typography.$default-font;
        overflow-wrap: break-word;
        .requiredSymbol {
            width: 1em;
            height: 1em;
            font-size: 0.4em;
            vertical-align: top;
            margin-top: 2px;
        }
    }
}
