// Mixins
@use "../style/abstracts/mixins/border-radius";
@use "../style/abstracts/mixins/box-shadow";
@use "../style/abstracts/mixins/box-sizing";
@use "../style/abstracts/mixins/transition";

// Variables
@use "../style/abstracts/variables/colors";

.checkBoxIcon {
    @include border-radius.border-radius(0);
    @include transition.transition(all 0.1s ease-in-out);
    @include box-sizing.box-sizing(content-box);
    display: inline-block;
    vertical-align: middle;
    min-width: 10px;
    width: 10px;
    height: 10px;
    min-width: 20px;
    
    line-height: 1;
    text-align: center;
    cursor: pointer;

    &.showBox {
        
        background: white;
        &:not(.hasErrors) {
            @include box-shadow.box-shadow(0 0 0 1px var(--color-form-element, colors.$color-form-element));
        }
        &.hasErrors {
            @include box-shadow.box-shadow(0 0 0 1px var(--color-error, colors.$color-error));
        }
    }

    &.checked {
        color: var(--color-primary, colors.$color-primary);
        &.hasErrors {
            span {
                color: var(--color-error, colors.$color-error);
            }
        }
        &.showBox {
            &:not(.hasErrors) {
                @include box-shadow.box-shadow(0 0 0 1px var(--color-form-element, colors.$color-form-element));
            }
            &.hasErrors {
                @include box-shadow.box-shadow(0 0 0 1px var(--color-error, colors.$color-error));
            }
        }
    }

    &.disabled {
        opacity: 0.4;
        background: rgba(0, 0, 0, 0.25);
        cursor: default;
    }

    .checkmark {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-size: 1em;
        line-height: 0.75em;
    }
    .checkmarkIcon {
        display: block;
        width: 100%;
        height: 100%;
    }
    :not(.showBox) {
        &.checkmark {
            line-height: 1.05em;
        }
    }
}
