// Mixins
@use "../style/abstracts/mixins/transition";

// Variables
@use "../style/abstracts/variables/colors";
@use "../style/abstracts/variables/typography";

.contentBox {
    font-family: typography.$default-font;
    text-decoration: none;
    padding: 20px;
    width: 100%;
    display: block;
    &.link {
        color: var(--color-primary, colors.$color-primary);
        @include transition.transition(filter 0.3s);
        &:hover,
        &:focus {
            filter: brightness(90%);
        }
        &:active {
            filter: brightness(85%);
        }
    }
    &.default {
        background-color: var(--color-background-default, colors.$color-background-default);
        .content,
        .title {
            color: colors.$color-default-text;
        }
    }
    &.secondary {
        background-color: var(--color-background-info, colors.$color-background-info);
        color: var(--color-default-text, colors.$color-default-text);
        .content,
        .title {
            color: var(--color-default-text, colors.$color-default-text);
        }
    }

    .title {
        &.regular {
            font-family: typography.$default-font;
            font-weight: bold;
            font-size: 21px;
            font-style: normal;
            line-height: 1.4;
            padding-bottom: 10px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.075);
        }
        &.large {
            font-family: typography.$default-font;
            font-weight: normal;
            font-size: 24px;
            margin: 0;
            margin-bottom: 20px;
            font-style: normal;
        }
    }
}
