// Mixins
@use "../style/abstracts/mixins/transition";

// Variables
@use "../style/abstracts/variables/colors";
@use "../style/abstracts/variables/typography";

.contentBox {
    font-family: typography.$default-font;
    text-decoration: none;
    padding: 20px;
    width: 100%;
    display: block;
    background-color: var(--color-background-default, colors.$color-background-default);
    color: var(--color-default-text, colors.$color-default-text);
    &.link {
        color: var(--color-primary, colors.$color-primary);
        @include transition.transition(filter 0.3s);
        &:hover,
        &:focus {
            filter: brightness(90%);
        }
        &:active {
            filter: brightness(85%);
        }
    }
    &.secondary {
        background-color: var(--color-secondary-light, colors.$color-secondary-light);
    }
    &.warning {
        background-color: var(--color-warning-x-light, colors.$color-warning-x-light);
    }
    &.error {
        background-color: var(--color-error-x-light, colors.$color-error-x-light);
    }
    &.info {
        background-color: var(--color-background-info, colors.$color-background-info);
    }
    &.success {
        background-color: var(--color-success-x-light, colors.$color-success-x-light);
    }
    &.tight {
        padding: 20px;
    }
    &.spacious {
        padding: 30px;
    }
    .content,
    .title {
        color: var(--color-default-text, colors.$color-default-text);
    }
}
