// Variables
@use "../style/abstracts/variables/colors";
@use "../style/abstracts/variables/viewports";

@keyframes modalInVertical {
    0% {
        opacity: 0;
        transform: translateY(2em);
    }
}

@keyframes modalInHorizontalRight {
    0% {
        opacity: 0;
        transform: translateX(2em);
    }
}

@keyframes modalInHorizontalLeft {
    0% {
        opacity: 0;
        transform: translateX(-2em);
    }
}

.dialog {
    position: fixed;
    inset: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 28px;
    box-sizing: border-box;

    @media (min-width: viewports.$screen-md) {
        padding: 36px;
    }

    .backdrop {
        position: absolute;
        inset: 0;
        z-index: 0;
        background-color: rgba(0, 0, 0, 0.5);
        border: none;
        padding: 0;
        margin: 0;
        width: 100%;
        height: 100%;
    }

    .backdropTransparent {
        background-color: transparent;
    }

    .dialogContainer {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        overflow: auto;
        width: fit-content;
        min-width: 320px;
        min-height: 200px;
        max-height: 90vh;
        animation: 1000ms cubic-bezier(0.22, 1, 0.36, 1) 0s 1 normal none running modalInVertical;
        z-index: 1;
    }

    .dialogContent {
        position: relative;
        background-color: #fff;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .dialogHeader {
        height: 116px;
        background-color: #F5F9FD;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 30px;
        gap: 16px;
        flex-shrink: 0;
    }

    .dialogBody {
        padding-left:30px;
        padding-top: 10px;
        

        
    }

    .dialogContent.noPadding {
        .dialogBody {
            padding: 0;
        }
    }

    

    &:not(.isSidebar) {
        .dialogContainer {
            max-width: var(--max-width, 540px);
        }
    }

    &.isSidebar {
        padding: 0;
        height: 100vh;
        align-items: stretch;
        justify-content: stretch;

        .dialogContainer {
            height: 100%;
            width: var(--max-width, auto);
            max-width: 100vw;
            animation: none;
        }

        .dialogBody {
            padding: 24px;
        }

        &.left {
            justify-content: flex-start;

            .dialogContainer {
                animation: 1000ms cubic-bezier(0.22, 1, 0.36, 1) 0s 1 normal none running modalInHorizontalLeft;
            }
        }

        &.right {
            justify-content: flex-end;

            .dialogContainer {
                animation: 1000ms cubic-bezier(0.22, 1, 0.36, 1) 0s 1 normal none running modalInHorizontalRight;
            }
        }
    }
}
