// Mixins
@use "../style/abstracts/mixins/transition";

// Variables
@use "../style/abstracts/variables/colors";

.dragAndDropFileInput {
    .requiredSymbol {
        width: 1em;
        height: 1em;
        font-size: 0.4em;
        vertical-align: top;
        margin-top: 2px;
    }

    .dragAndDropContainer {
        @include transition.transition(all 0.1s ease-in-out);
        border: 2px dashed var(--color-secondary-light, colors.$color-secondary-light);
        border-radius: 20px;
        width: 100%;
        padding: 20px;
        text-align: center;
        background-color: #fff;

        input {
            display: none;
        }

        button {
            margin: 14px 0 0;
        }

        &.highlighted {
            background: var(--color-secondary-x-light, colors.$color-secondary-x-light);
            border-color: var(--color-primary, colors.$color-primary);
        }
    }
}
