// Mixins
@use "../style/abstracts/mixins/transition";

// Variables
@use "../style/abstracts/variables/colors";
@use "../style/abstracts/variables/typography";

.dragAndDropFileInput {
    .requiredSymbol {
        width: 1em;
        height: 1em;
        font-size: 0.4em;
        vertical-align: top;
        margin-top: 2px;
    }

    .dragAndDropContainer {
        @include transition.transition(all 0.1s ease-in-out);
        border: 2px dashed var(--color-secondary, colors.$color-secondary);
        width: 100%;
        font-family: typography.$default-font;
        padding: 20px;
        text-align: center;
        background-color: var(--color-background-default, colors.$color-background-default);

        input {
            display: none;
        }

        button {
            margin: 14px 0 0;
        }

        &.highlighted {
            background: var(--color-secondary-light, colors.$color-secondary-light);
            border-color: var(--color-primary, colors.$color-primary);
        }

        &.hasErrors {
            margin-bottom: 6px;
            border-color: var(--color-error, colors.$color-error);
        }

        &.hasErrors.highlighted {
            border-color: var(--color-error, colors.$color-error);
        }
    }
}
