.errorMessage {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  color: var(--color-error);
  line-height: 1.4;
  font-weight: 500;
}

.errorSign {
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
