// Variables
@use "../style/abstracts/variables/colors";
@use "../style/abstracts/variables/typography";
@use "../style/abstracts/variables/viewports";

.headerContainer {
	.header {
		margin: 0;
		font-weight: normal;
		line-height: 1.4;
		font-style: normal;
		color: var(--color-default-text, colors.$color-default-text);
		
		&.size-1 {
			font-family: typography.$default-font;
			color: var(--color-heading-text, colors.$color-heading-text);
			font-style: normal;
			font-size: 32px;
			font-weight: 600;
			line-height: 130%;
			letter-spacing: 0px;
			&.bigHeader {
				font-family: typography.$default-font;
				font-size: 40px;
				line-height: 1.2;
				overflow: hidden;
				text-overflow: ellipsis;
				@media only screen and (min-width: viewports.$screen-sm) {
					font-size: 50px;
				}
			}
		}
		&.size-2 {
			font-family: typography.$default-font;
			
			font-style: normal;
			font-size: 24px;
			font-weight: 600;
			line-height: 36px;
			letter-spacing: 0px;
		}
		&.size-3 {
			font-family: typography.$default-font;
			font-style: normal;
			font-size: 20px;
			font-weight: 600;
			line-height: 30px;
			letter-spacing: 0px;
		}
		&.size-4 {
			font-family: typography.$default-font;
			font-style: normal;
			font-size: 18px;
			font-weight: 600;
			line-height: 26px;
			letter-spacing: 0px;
		}
		&.size-5 {
			font-family: typography.$default-font;
			font-style: normal;
			font-size: 16px;
			font-weight: 600;
			line-height: 24px;
			letter-spacing: 0px;
		}
		&[style*="--label"] {
			&::before {
				content: var(--label);
				display: block;
				font-family: typography.$default-font;
				font-size: 12px;
				font-weight: 600;
				line-height: 18px;
				letter-spacing: 0px;
				text-transform: uppercase;
				color: var(--color-heading-text, colors.$color-heading-text);
				opacity: 0.75;
				margin-bottom: 0.3em;
			}
		}
	}
}
