// Variables
@use "../style/abstracts/variables/colors";
@use "../style/abstracts/variables/sizes";
@use "../style/abstracts/variables/typography";
@use "../style/abstracts/variables/viewports";

@keyframes messageIn {
  0% {
    opacity: 0;
    transform: translateY(2em);
  }
}

.box {
  background-color: #fff;
  border: 1px solid
    var(--color-secondary-light, colors.$color-secondary-light);
  
  color: var(--color-default-text, colors.$color-default-text);
  font-family: typography.$default-font;
  line-height: 1.5;
  animation: 1000ms cubic-bezier(0.22, 1, 0.36, 1) 0s 1 normal none running messageIn;


  &.fullScreen {
    border-width: 0 0 4px 0;
  }

  &.noBorder {
    border: 0;
  }

  &.info {
    background-color: var(
      --color-secondary-x-light,
      colors.$color-secondary-x-light
    );
    border-color: var(--color-primary, colors.$color-primary);
  }

  &.warning {
    background-color: var(--color-warning-x-light, colors.$color-warning-light);
    border-color: var(--color-warning, colors.$color-warning);
  }

  &.error {
    background-color: var(--color-error-x-light, colors.$color-error-x-light);
    border-color: var(--color-error, colors.$color-error);
  }

  &.tip {
    background-color: var(
      --color-secondary-background,
      colors.$color-secondary-background
    );
    border-color: var(--color-secondary-background, colors.$color-secondary-background);
  }

  &.success {
    background-color: #f1fae3;
    border-color: #1a8714;
  }
}

.inner {
  display: grid;
  gap: 12px;
  
  grid-template-columns: 1fr;
  padding: 20px;

  @media only screen and (min-width: viewports.$screen-md) {
    padding: 20px;
  }

  .fullScreen & {
    max-width: sizes.$content-width;
    margin: auto;
  }
}

.hasIcon {
  --has-icon: 1;
  
}

.hasIcon .inner {
  grid-template-columns: auto 1fr;
  gap: 10px;
  
}

.icon {
  width: 24px;
  height: 28px;
  
  
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-top: 2px;
}

.iconImage {
  height: 24px;
  width: 24px;
  
  display: inline-block;
}

.content {
  display: flex;
  flex-direction: column;

}

.title {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.3;
  margin: 0;

  
}

.body {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  padding-top: 5px;
  padding-bottom: 5px;
  ul {
    padding-left: 24px;
    margin: 0;
  }
}
