// Mixins
@use "../style/abstracts/mixins/appearance";
@use "../style/abstracts/mixins/border-radius";
@use "../style/abstracts/mixins/box-shadow";

// Variables
@use "../style/abstracts/variables/colors";

.inputField {
    font-size: 18px;
    &:not(.noMargin) {
        margin-bottom: 8px;
    }
    > div {
        display: block;
    }
    .requiredSymbol {
        width: 1em;
        height: 1em;
        font-size: 0.4em;
        vertical-align: top;
        margin-top: 2px;
    }
    input,
    &.file span.input {
        @include appearance.appearance(none);
        @include border-radius.border-radius(0);
        @include box-shadow.box-shadow(none);
        height: 54px;
        width: 100%;
        display: block;
        padding: 12px;
        margin-bottom: 0;
        background-color: #fff;
        box-shadow: none;
        color: colors.$color-default-text;
        font-family: inherit;
        font-size: 18px;
        box-sizing: border-box;
        border: 1px solid var(--color-primary, colors.$color-primary);

        &:hover {
            border-color: var(--color-primary, colors.$color-primary);
        }

        &:focus {
            border-color: var(--color-primary, colors.$color-primary);
            outline: none;
            box-shadow: none;
        }

        &:focus-visible {
            border-color: var(--color-primary, colors.$color-primary);
            outline: 2px solid var(--color-focus, colors.$color-focus);
            outline-offset: 1px;
            box-shadow: 0 0 0 2px var(--color-focus, colors.$color-focus);
        }

        &[disabled],
        &[readonly] {
            background-color: var(--color-secondary-background, colors.$color-secondary-background);
            cursor: default;
        }

        &.hasErrors {
            border-color: var(--color-error, colors.$color-error);
            &:focus {
                border-color: var(--color-error, colors.$color-error);
                outline-color: #b8565d;
            }
            &:focus-visible {
                outline: 2px solid var(--color-error, colors.$color-error);
                outline-offset: 1px;
                box-shadow: 0 0 0 2px var(--color-error, colors.$color-error);
            }
            &[disabled],
            &[readonly] {
                background-color: var(--color-secondary-background, colors.$color-secondary-background);
                cursor: default;
                border-color: #afaba8;
            }
        }
    }
    &.file {
        label {
            .fileInputContainer {
                display: flex;
                align-items: center;
            }
        }
        input {
            display: none;
        }
        span.input {
            flex: 1;
        }
        button {
            margin: 0 8px;
        }
    }

    .visuallyHidden {
        position: absolute !important;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        white-space: nowrap;
        border: 0;
    }

    .caption {
        margin: 6px 0 0;
        font-size: 14px;
        line-height: 20px;
        color: var(--color-default-text, colors.$color-default-text);
    }
}
