// Mixins
@use "../style/abstracts/mixins/appearance";
@use "../style/abstracts/mixins/box-shadow";

// Variables
@use "../style/abstracts/variables/colors";

.inputField {

    .requiredSymbol {
        display: inline-block;
        width: 1em;
        height: 1em;
        font-size: 0.4em;
        vertical-align: top;
        margin-top: 2px;
    }
    input,
    &.file span.input {
        padding-top: 11px;
        height: 48px; /* FJERN MEG! */
        line-height: 24px;
        padding-bottom: 11px;
        font-size: 18px;
        padding-left: 10px;
        gap: 10px;
        width: 100%;
        display: block;
        margin-bottom: 0;
        background-color: var(--color-background-default, colors.$color-background-default);
        box-shadow: none;
        color: colors.$color-default-text;
        font-family: inherit;
        font-size: 18px;
        box-sizing: border-box;
        border: 1px solid var(--color-input-border, colors.$color-input-border);

        &:hover {
            border-color: var(--color-primary, colors.$color-primary);
        }

        &:focus {
            border-color: var(--color-primary, colors.$color-primary);
            outline: none;
            box-shadow: 0 0 0 3px var(--color-focus, colors.$color-focus);
        }

        &:focus-visible {
            border-color: var(--color-primary, colors.$color-primary);
            box-shadow: 0 0 0 3px var(--color-focus, colors.$color-focus);
        }

        &[disabled],
        &[readonly] {
            background-color: var(--color-background-info, colors.$color-background-info);
            cursor: default;
        }

        &.hasErrors {
            border-color: var(--color-error, colors.$color-error);
            margin-bottom: 6px;
            
            &[disabled],
            &[readonly] {
                background-color: var(--color-background-info, colors.$color-background-info);
                cursor: default;
                border-color: #afaba8;
            }
        }
    }
    .dateInput {
        background-image: url("../assets/svg/calendar.icon.svg");
        background-position: right 10px center;
        background-repeat: no-repeat;
        background-size: 20px 20px;
        padding-right: 40px;
        &::-webkit-calendar-picker-indicator {
            opacity: 0;
            width: 0;
            height: 0;
        }
        &::-webkit-inner-spin-button,
        &::-webkit-clear-button {
            display: none;
        }
        &::-ms-clear {
            display: none;
        }
    }
    .inputWithButton {
        display: flex;
        align-items: center;
        gap: 8px;
        input {
            flex: 1;
        }
    }
    &.file {
        label {
            .fileInputContainer {
                display: flex;
                align-items: center;
            }
        }
        input {
            display: none;
        }
        span.input {
            flex: 1;
        }
        button {
            margin: 0 8px;
        }
    }

    .visuallyHidden {
        position: absolute !important;
        width: 1px;
        background-color: red !important; 
        height: 1px;
        
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        white-space: nowrap;
        border: 0;
    }

    .caption {
        margin: 6px 0 0;
        font-size: 14px;
        line-height: 20px;
        color: var(--color-default-text, colors.$color-default-text);
    }
}
