// Variables
@use "../style/abstracts/variables/typography";

.label {
    color: #000;
    display: block;
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.2;
    margin-bottom: 2px;
    font-family: typography.$default-font;
    overflow-wrap: break-word;
    &.inline {
        display: inline-block;
    }
    &:not(.normalCursor) {
        cursor: pointer;
    }
}
