// Mixins
@use "../style/abstracts/mixins/appearance";
@use "../style/abstracts/mixins/box-shadow";
@use "../style/abstracts/mixins/transition";

// Variables
@use "../style/abstracts/variables/colors";
@use "../style/abstracts/variables/transitions";
@use "../style/abstracts/variables/typography";
@use "../style/abstracts/variables/viewports";

.navigationBarContainer {
    --navigation-surface: colors.$color-primary-contrast;
    --navigation-overlay: colors.$color-body-background;
    padding-top: 38px;
    padding-bottom: 24px;
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    padding-inline: clamp(16px, 4vw, 48px);
    &:not(.compact) {
        position: relative;
        .navigationBar {
            position: relative;
            display: -ms-flexbox;
            width: 100%;
            max-width: 1350px;
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            margin-left: auto;
            margin-right: auto;
            font-size: 18px;
            padding: 0;
            
            @media only screen and (min-width: viewports.$screen-sm) {
                -ms-flex-direction: row;
                flex-direction: row;
            }
            @media only screen and (min-width: viewports.$screen-md) {
                margin: 0;
            }
        }
        .logoContainer {
            
            
            
            margin-bottom: 0;
            
            img {
                display: block;
                background-color: var(--navigation-surface, colors.$color-primary-contrast);
            }
        }
        
    }
    &.secondary:not(.compact) {
        background-color: colors.$color-body-background;
        .logoContainer img {
            mix-blend-mode: multiply;
        }
    }
    &.compact {
        
        @include box-shadow.box-shadow(0 2px 4px -2px rgba(0, 0, 0, 0.2));
        position: relative;
        z-index: 1;
        .mainContentLink {
            background-color: var(--color-primary, colors.$color-primary);
            
            color: var(--color-primary-contrast, colors.$color-primary-contrast);
            &:focus,
            &:active {
                span {
                    outline-color: var(--color-primary-contrast, colors.$color-primary-contrast);
                }
            }
        }

        .navigationBar {
            background-color: var(--color-primary, colors.$color-primary);
            height: 54px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            @media only screen and (min-width: viewports.$screen-sm) {
                height: 73px;
            }
        }

        .logoContainer {
            width: 200px;
            height: 54px;
            display: inline-block;
            img {
                height: 54px;
                max-width: none;
            }
            @media only screen and (min-width: viewports.$screen-sm) {
                width: 270px;
                height: 73px;
                img {
                    height: 73px;
                }
            }
        }
    }
}
