// Mixins
@use "../style/abstracts/mixins/appearance";
@use "../style/abstracts/mixins/box-shadow";
@use "../style/abstracts/mixins/transition";

// Variables
@use "../style/abstracts/variables/colors";
@use "../style/abstracts/variables/transitions";
@use "../style/abstracts/variables/typography";
@use "../style/abstracts/variables/viewports";

.navigationBarContainer {
    --navigation-surface: transparent;
    --navigation-overlay: colors.$color-body-background;
    --navigation-text: colors.$color-default-text;
    padding-top: 38px;
    padding-bottom: 24px;
    width: 100%;
    max-width: 1600px;
    gap: 10px;
    margin: 0 auto;
        position: relative;
        .navigationBar {
            position: relative;
            height: 62px;
            display: -ms-flexbox;
            width: 100%;
            max-width: 1310px;
            display: flex;
            -ms-flex-wrap: wrap;
            align-items: center;
            flex-wrap: wrap;
            margin-left: auto;
            margin-right: auto;
            font-size: 18px;
            
            @media only screen and (min-width: viewports.$screen-sm) {
                -ms-flex-direction: row;
                flex-direction: row;
            }
            @media only screen and (min-width: viewports.$screen-md) {
                margin: 0;
            }
        }
        .logoContainer {
            margin-bottom: 0;
            height: fit-content;
            img {
                display: block;
                background-color: var(--navigation-surface, colors.$color-primary-contrast);
            }
        }
        background-color: var(--navigation-overlay, colors.$color-body-background);
        color: var(--navigation-text, colors.$color-default-text);
        .logoContainer img {
            mix-blend-mode: multiply;
        }
    
    
}

.secondary {
    --navigation-overlay: var(--color-secondary-x-light, colors.$color-secondary-x-light);
    --navigation-text: var(--color-secondary-x-light, colors.$color-secondary-x-light);    
}

.neutral {
    --navigation-overlay: colors.$color-body-background;
    --navigation-text: colors.$color-default-text;
}