// Mixins
@use "../style/abstracts/mixins/appearance";
@use "../style/abstracts/mixins/box-shadow";
@use "../style/abstracts/mixins/transition";

// Variables
@use "../style/abstracts/variables/colors";
@use "../style/abstracts/variables/transitions";
@use "../style/abstracts/variables/typography";
@use "../style/abstracts/variables/viewports";

.navigationBarContainer {
    --navigation-surface: colors.$color-primary-contrast;
    --navigation-overlay: colors.$color-body-background;
    padding-top: 38px;
    padding-bottom: 24px;
    width: 100%;
    max-width: 1600px;
    gap: 10px;
    padding-left: 20px;
    padding-right: 20px;
            
    margin: 0 auto;
    
        position: relative;
        .navigationBar {
            position: relative;
            height: 62px;
            display: -ms-flexbox;
            width: 100%;
            max-width: 1350px;
            display: flex;
            -ms-flex-wrap: wrap;
            align-items: center;
            flex-wrap: wrap;
            margin-left: auto;
            margin-right: auto;
            font-size: 18px;
            padding-left: 20px;
            padding-right: 20px;
            @media only screen and (min-width: viewports.$screen-sm) {
                -ms-flex-direction: row;
                flex-direction: row;
            }
            @media only screen and (min-width: viewports.$screen-md) {
                margin: 0;
            }
        }
        .logoContainer {
            margin-bottom: 0;
            height: fit-content;
            img {
                display: block;
                background-color: var(--navigation-surface, colors.$color-primary-contrast);
            }
        }
        
    
    
        background-color: colors.$color-body-background;
        .logoContainer img {
            mix-blend-mode: multiply;
        }
    
    
}
