// Variables
@use "../style/abstracts/variables/colors";
@use "../style/abstracts/variables/typography";

.paragraph {
  font-family: typography.$default-font;
  color: var(--color-default-text, colors.$color-default-text);
  font-weight: 400;
  letter-spacing: 0;
  margin: 0 0 16px;
  &.noMargin {
    margin: 0;
  } 
}

.lead {
  font-size: 24px;
  line-height: 38px;
}

.large {
  font-size: 20px;
  line-height: 32px;
}

.small {
  font-size: 16px;
  line-height: 24px;
}
