// Variables
@use "../style/abstracts/variables/colors";

.radioButtonInput {
    display: flex;
    align-items: center;
    //margin-right: 1em;
    border: 1px solid transparent;
    border-radius: 100%;
    

    .requiredSymbol {
        width: 1em;
        height: 1em;
        font-size: 0.4em;
        vertical-align: top;
        margin-top: 2px;
    }

    &:not(.disabled) {
        cursor: pointer;
        input {
            cursor: pointer;
        }
    }

    .labelText {
        font-size: 16px;
        line-height: 24px;
        color: var(--color-form-element, colors.$color-form-element);
    }

    &.disabled {
        .labelText {
            opacity: 0.4;
        }
    }

    &.hasErrors {
        span {
            color: var(--color-error, colors.$color-error);
        }
    }

    

    input[type="radio"] {
        opacity: 0;
        position: absolute;
    }
}
