// Mixins
@use "../style/abstracts/mixins/border-radius";
@use "../style/abstracts/mixins/box-shadow";
@use "../style/abstracts/mixins/box-sizing";
@use "../style/abstracts/mixins/transition";

// Variables
@use "../style/abstracts/variables/colors";
@use "../style/abstracts/variables/transitions";

.radioButtonIcon {
    @include border-radius.border-radius(50%);
    @include transition.transition(all transitions.$default-transition);
    @include box-sizing.box-sizing(content-box);
    display: inline-block;
    vertical-align: middle;
    min-width: 10px;
    width: 10px;
    height: 10px;
    background: white;
    margin-right: 0.4em;
    margin-top: 2px;
    border: 0.3em solid white;
    cursor: pointer;

    &:not(.hasErrors) {
        @include box-shadow.box-shadow(0 0 0 1px var(--color-form-element, colors.$color-form-element));
    }
    &.hasErrors {
        @include box-shadow.box-shadow(0 0 0 1px var(--color-error, colors.$color-error));
    }

    &.checked {
        background: var(--color-primary, colors.$color-primary);
        &.hasErrors {
            background: var(--color-error, colors.$color-error);
        }
        &:not(.hasErrors) {
            @include box-shadow.box-shadow(0 0 0 1px var(--color-form-element, colors.$color-form-element));
        }
        &.hasErrors {
            @include box-shadow.box-shadow(0 0 0 1px var(--color-error, colors.$color-error));
        }
    }
    &.disabled {
        border-color: #fff;
        opacity: 0.4;
    }
}
