// Mixins
@use "../style/abstracts/mixins/appearance";
@use "../style/abstracts/mixins/border-radius";
@use "../style/abstracts/mixins/box-shadow";
@use "../style/abstracts/mixins/transition";

// Variables
@use "../style/abstracts/variables/colors";
@use "../style/abstracts/variables/transitions";
@use "../style/abstracts/variables/viewports";

.select {
    
    .requiredSymbol {
        width: 1em;
        height: 1em;
        font-size: 0.4em;
        vertical-align: top;
        margin-top: 2px;
    }
    .selectContainer {
        position: relative;

        .selectListArrow {
            @include border-radius.border-radius(100px);
            box-sizing: border-box;
            position: absolute;
            top: 15px;
            right: 15px;
            display: block;
            width: 12px;
            height: calc(50% - 6px);
            @media only screen and (min-width: viewports.$screen-sm) {
                top: 20px;
                right: 20px;
            }

            &::after {
                content: "";
                display: block;
                box-sizing: border-box;
                position: absolute;
                width: 12px;
                height: 12px;
                border-bottom: 2px solid;
                border-right: 2px solid;
                transform: translateY(-30%) rotate(45deg);
                transition: transform 0.3s ease-in-out;
            }
        }

        .multipleSelectDropdown {
            //@include border-radius.border-radius(4px);
            @include box-shadow.box-shadow(
                rgba(0, 0, 0, 0.2) 0px 5px 5px -3px,
                rgba(0, 0, 0, 0.14) 0px 8px 10px 1px,
                rgba(0, 0, 0, 0.12) 0px 3px 14px 2px
            );
            width: 100%;
            position: absolute;
            background-color: #fff;
            padding: 6px 10px;
        }

        select,
        .multipleSelectElement {
            @include border-radius.border-radius(0);
            @include transition.transition(background transitions.$default-transition);
            @include appearance.appearance(none);
            @include box-shadow.box-shadow(none);
            color: rgba(0, 0, 0, 0.75);
            width: 100%;
            font-family: inherit;
            font-size: 18px;
            padding: 10px 40px 10px 10px;
            border: 1px solid var(--color-primary, colors.$color-primary);
            line-height: 1.7;
            background: white;
            cursor: pointer;

            &:hover {
                border-color: var(--color-primary, colors.$color-primary);
                background-color: var(--color-secondary-x-light, colors.$color-secondary-x-light);
            }

            &:focus {
                outline-color: var(--color-primary, colors.$color-primary);
            }

            &[disabled],
            &[readonly] {
                background-color: #ddd;
                cursor: default;
            }
            &:not(.multiple) {
                height: 54px;
                padding: 12px 40px 12px 12px;
            }
            &.multiple {
                max-height: 100px;
                padding: 12px;
            }

            &.hasErrors {
                border-color: var(--color-error, colors.$color-error);
                &:focus {
                    border-color: var(--color-error, colors.$color-error);
                    outline-color: #b8565d;
                }
                &[disabled],
                &[readonly] {
                    background-color: #ddd;
                    cursor: default;
                    border-color: #afaba8;
                }
            }
        }
    }
}
