// Mixins
@use "../style/abstracts/mixins/border-radius";
@use "../style/abstracts/mixins/box-shadow";
@use "../style/abstracts/mixins/transition";

// Variables
@use "../style/abstracts/variables/colors";
@use "../style/abstracts/variables/transitions";
@use "../style/abstracts/variables/viewports";

.select {
    .requiredSymbol {
        width: 1em;
        font-size: 0.4em;
        vertical-align: top;
        margin-top: 2px;
    }
    
    .selectContainer {
        position: relative;
        color: var(--select-text);
        
        .selectListArrow {
            @include border-radius.border-radius(100px);
            box-sizing: border-box;
            position: absolute;
            top: 15px;
            right: 15px;
            display: block;
            width: 12px;
            height: calc(50% - 6px);
            @media only screen and (min-width: viewports.$screen-sm) {
                top: 20px;
                right: 20px;
            }

            &::after {
                content: "";
                display: block;
                box-sizing: border-box;
                position: absolute;
                width: 12px;
                height: 12px;
                border-bottom: 2px solid;
                border-right: 2px solid;
                transform: translateY(-30%) rotate(45deg);
                transition: transform 0.3s ease-in-out;
            }
        }

        :global(.reactSelect__control) {
            @include border-radius.border-radius(0);
            @include transition.transition(background transitions.$default-transition);
            @include box-shadow.box-shadow(none);
            color: inherit;
            width: 100%;
            font-family: inherit;
            font-size: 18px;
            border: 1px solid var(--color-input-border, colors.$color-input-border);
            line-height: 24px;
            background: var(--select-background);
            cursor: pointer;
            
            &:hover {
                border-color: var(--color-primary, colors.$color-primary);   
            }
            &:focus {
                
                outline: none;
                outline-width:3px;
                outline-style: solid;
                outline-offset: 0px;
                outline-color: var(--color-focus, colors.$color-focus);
            }

        }

        :global(.reactSelect__control--is-focused) {
            outline: none;
            outline-width: 3px;
            outline-style: solid;
            outline-offset: 0px;
            outline-color: var(--color-focus, colors.$color-focus);
            box-shadow: none;
        }

        :global(.reactSelect__control--is-disabled) {
            background-color: var(--select-disabled-background);
            cursor: default;
        }

        :global(.reactSelect__value-container) {
            padding: 12px 40px 12px 12px;
        }

        :global(.reactSelect__input-container) {
            margin: 0;
            padding: 0;
        }

        :global(.reactSelect__single-value),
        :global(.reactSelect__placeholder) {
            color: var(
                --select-placeholder);
        }

        :global(.reactSelect__menu) {
            @include box-shadow.box-shadow(
                rgba(0, 0, 0, 0.2) 0px 5px 5px -3px,
                rgba(0, 0, 0, 0.14) 0px 8px 10px 1px,
                rgba(0, 0, 0, 0.12) 0px 3px 14px 2px
            );
            padding: 6px 10px;
        }

        :global(.reactSelect__menu-list) {
            padding: 0;
        }

        :global(.reactSelect__option) {
            padding: 8px 10px;
            cursor: pointer;
        }

        :global(.reactSelect__option--is-focused) {
            background-color: #f5f9fc;
            color: var(--color-default-text, colors.$color-default-text);
            
        }

        :global(.reactSelect__option--is-selected) {
            background-color: var(--color-secondary, colors.$color-secondary);
            color: var(--color-default-text, colors.$color-default-text);
        }

        :global(.reactSelect__multi-value) {
            background-color: var(--color-secondary-light, colors.$color-secondary-light);
        }

        :global(.reactSelect__multi-value__label) {
            color: rgba(0, 0, 0, 0.75);
        }

        :global(.reactSelect__multi-value__remove) {
            cursor: pointer;
        }

        .hasErrors {
            :global(.reactSelect__control) {
                border-color: var(--color-error, colors.$color-error);
                margin-bottom: 6px;
            }

            :global(.reactSelect__control--is-focused) {
                border-color: var(--color-error, colors.$color-error);
                outline-color: var(--color-error, colors.$color-error);
            }

            :global(.reactSelect__control--is-disabled) {
                border-color: #afaba8;
            }
        }

        
    }

    .selectWithButton {
        display: flex;
        align-items: center;
        gap: 8px;
        
        .selectContainer {
            flex: 1;
        }
    }
}
