// Variables
@use "../style/abstracts/variables/colors";
@use "../style/abstracts/variables/typography";
@use "../style/base/fonts";

*,
*::before,
*::after {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: typography.$default-font;
    background-color: var(--color-background-default, colors.$color-background-default);
    color: var(--color-default-text, colors.$color-default-text);
    font-size: 16px;
    line-height: 24px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: normal;
    letter-spacing: 0.01em;
}
a {
    color: var(--color-primary, colors.$color-primary);
}
